.app-header {
    background-color: #222;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .app-title {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
  }
  